<div>
    <div></div>
    
    <div><input type="text" ng-model="filter"></div>

    <div ng-transclude>
    </div>
    
    <div ng-show="pages().length != 1">
        <a ng-repeat="pageNo in pages()" ng-click="setPage(pageNo)" ng-class="{ current: getPage() == pageNo }">{{ pageNo }}</a>
    </div>
    
    <p>{{ sortedRows().indexOf(visibleRows()[0]) + 1 }} through {{ sortedRows().indexOf(visibleRows()[visibleRows().length - 1]) + 1 }} of {{ filteredRows().length }} results displayed (total: {{ existingRows().length }})</p>
</div>