<div>
    <ng-include src="filterTemplate" ng-show="filterColumns">

    </ng-include>

    <div class=".data-grid-delete-error-message">{{ rowDeleteErrorMessage }}</div>

    <div class="table">
        <table class="list">
            <colgroup ng-include="colgroupTemplate && colgroupTemplate"></colgroup>
            <thead ng-include="headerTemplate"></thead>
            <tbody ng-repeat="row in newRows" datagrid-row ng-form="form"></tbody>
            <tbody ng-repeat="row in visibleRows" datagrid-row ng-form="form"></tbody>
            <!--ng-include="getRowTemplate(row)"-->
            <tbody><tr ng-include='!visibleRows.length && !newRows.length && noResultsTemplate'></tr></tbody>
        </table>
    </div>

    <div class="results" ng-include="resultsTemplate"></div>

    <ng-include src="paginationTemplate"/>

</div>
