<div>
    <div></div>
    
    <div class="quick-filter" ng-show="filterColumns"><span class="inline-icon" style="font-size: 20px;">s</span> <input type="text" ng-model="filter" ng-list="/\s+/"></div>

    <div class="table">
        <table class="list" cellspacing="0" cellpadding="0">
            <thead ng-include="headerTemplate"></thead>
            <tbody ng-repeat="row in visibleRows" ng-include="getRowTemplate(row)" datagrid-row></tbody>
            <tbody ng-repeat="row in newRows" ng-include="formTemplate" datagrid-row></tbody>
            <tbody><tr datagrid-if="!visibleRows.length && !newRows.length" ng-include='noResultsTemplate'></tr></tbody>
        </table>
    </div>

    <p class="table-info">{{ firstResult }} through {{ lastResult }} of {{ filteredResults }} results displayed (total: {{ totalResults }})</p>

    <div>
        <span>
            <span ng-switch on="page > 1">
                <a ng-switch-when="true" ng-click="setPage(page-1)"><span class="inline-icon">&lt;</span></a>
                <span ng-switch-when="false" class="inline-icon">&lt;</span>
            </span>
            <input ng-model="page" style="width: 2em; text-align: right;" ng-change="setPage(page)"> / {{ pages.length }}
            <span ng-switch on="page < pages.length">
                <a ng-switch-when="true" ng-click="setPage(page+1)"><span class="inline-icon">&gt;</span></a>
                <span ng-switch-when="false" class="inline-icon">&gt;</span>
            </span>
        </span>
    </div>

</div>