<div data-bind="if: enableFilter">
    Filter: <input type="text" data-bind="value: filter" onkeyup="$(this).trigger('change')">
</div>

<div data-bind="if: enablePageSizeSelector">
Results per page: <select data-bind="value: pageSize">
    <option>3</option>
    <option>5</option>
    <option>10</option>
    <option>20</option>
    <option>50</option>
    </select>
</div>

<table class="list" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <!-- ko foreach: columns -->
            <th data-bind="css: classes, click: sort, template: headCellTemplate"></th>
            <!-- /ko -->
            <!-- ko if: $root.editable -->
            <th>
            <!-- ko if: $root.allowCreate -->
            <button class="icon-only icon-plus" data-bind="click: loadCreateForm"></button>
            <!-- /ko -->
            </th>
            <!-- ko if: $root.allowDelete -->
            <th></th>
            <!-- /ko -->
            <!-- /ko -->
        </tr>
    </thead>
    <tbody data-bind="template: { name: 'datagrid-row', foreach: $root.visibleRows, as: 'row'/*, afterAdd: function(domNode) { $(domNode).hide().fadeIn(); }, beforeRemove: function(domNode) { $(domNode).fadeOut('fast', function() { $(domNode).remove(); }) }*/ }">

    </tbody>
    <tbody data-bind="if: !$root.visibleRows().length">
        <tr>
            <td colspan="6">No rows found</td>
        </tr>
    </tbody>
    <tbody data-bind="template: { name: 'datagrid-row', foreach: $root.newRows, as: 'row' }">

    </tbody>
</table>
<div class="result-info" data-bind="text: resultsText"></div>
<nav class="pagination">
<a class="previous" href="#" data-bind="css: { disabled: page() == 1 }, click: function() { setPage(page() - 1); }">previous</a>
<!-- ko foreach: pages -->
<a href="#" data-bind="text: $data, click: function() { $root.setPage($data); }, css: { current: $root.page() == $data }"></a>
<!-- /ko -->
<a class="next" href="#" data-bind="css: { disabled: page() == pages().length }, click: function() { setPage(page() + 1); }">next</a>
</nav>

<script type="text/html" id="datagrid-row">
<tr data-bind="if: errors"><td data-bind="html: errors" colspan="4"></td></tr>
    <tr>
        <!-- ko foreach: { data: $root.columns, as: 'column' } -->
            <!-- ko template: { name: column.bodyCellTemplate, data: { column: column, row: row, data: row.getColumnData(column.name) } } --><!-- /ko -->
        <!-- /ko -->
        <!-- ko if: $root.editable -->
        <td>
            <!-- ko if: editing -->
            <button type="submit" data-bind="click: saveForm, text: savingForm() ? 'Saving...' : 'Save'"></button>
            <div style="display: none" data-bind="html: hiddenFields"></div>
            <!-- /ko -->
            <!-- ko if: !editing() -->
            <button class="icon-only icon-edit" data-bind="click: loadForm"></button>
            <!-- /ko -->
        </td>
        <!-- /ko -->
        <!-- ko if: $root.allowDelete || isNew() -->
        <td>
            <button class="icon-only icon-delete" data-bind="click: deleteRow"></button>
        </td>
        <!-- /ko -->
    </tr>
</script>

<script type="text/html" id="head-cell-template">
<!-- ko text: $data.title --><!-- /ko -->
</script>
<script type="text/html" id="body-cell-template">
<td data-bind="html: data"></td>
</script>

<script type="text/html" id="single-icon-body-cell-template">
<td><!-- ko if: data.length > 5 --><img data-bind="attr: { src: column.icon, 'data-overlib': data }"><!-- /ko --></td>
</script>
<script type="text/html" id="single-icon-head-cell-template">
<img data-bind="attr: { src: $data.icon }">
</script>